<div id="header_wrap" class="outer">
  <header class="inner" style="display: flex; align-items: center; gap: 25px;">
    <img style="height: 100px; width: 100px;" src="/assets/images/chris-johns-photo.jpg" alt="Profile photograph of {{ author }}">
    <div>
      <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>
    </div>
  </header>
  <nav class="header-navbar">
    {% for link in site.navigation %}
    <a class="nav-item {% if page.url == link.url %}active{% endif %}" href="{{link.url}}" title="{{link.title}}">
      {{link.text}}
    </a>
    {% endfor %}
  </nav>
</div>